name: Sync Fork

on:
  schedule:
    - cron: '20 4 * * 5' # every Friday 12:20 (UTC/GMT+08:00 Shanghai)
  workflow_dispatch: # on button click

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
      - uses: tgymnich/fork-sync@v2.0.10
        with:
          owner: Container-On-Android
          base: main
          head: main
          pr_title: "Merge upstream branch 'main'"
          pr_message: "Merge branch 'lxc:main' into main"
          auto_merge: false
          merge_method: rebase
          ignore_fail: true
